body{
    background-image: url("photos/body.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.small{
    color:rgb(255, 0, 0);
    

    font-size: x-large;
    
}
.p{
   visibility: hidden;
}
.b{
    color: red;

}
.p1{
    color: white;
}
.link{
    color: blue;
}
.border{
    margin-top: 5%;
    border: 1px black groove;
 
margin-left: 35%;
margin-right: 35%;
   background-color: rgba(0, 0, 0, 0.568);
}
h1{
    color: white;
}


.username{
    margin-top: 20px;
    margin-bottom: 20px;
}

.password{
    margin-top: 20px;
    margin-bottom: 20px;
}
.image{
    width: 40%;
    height: 40%;
}
.button{
    margin-top:20px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: red;
}
@media screen and (max-width:500px){
    body{
        background-image: url("photos/body.jpg");
        background-size:100% 130%;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width:501px) and (max-width:1000px){
    body{
        background-image: url("photos/body.jpg");
        background-size:100% 140%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:500px){
    .border{
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media screen and (min-width:501px) and (max-width:800px){
    .border{
        margin-left: 20%;
        margin-right: 20%;
    }
}
